<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
</head>
<body>
    <form action="#" method="post">
        <p>Sex:</p>
        <label>
          <input type="radio" name="sex" value="1">
          Male
        </label>
        <label>
          <input type="radio" name="sex" value="2">
          Female
        </label>
      
        <p>Age:</p>
        <select name="age">
          <option value=""></option>
          <option value="19">0-19</option>
          <option value="20">20-34</option>
          <option value="35">35-49</option>
          <option value="50">50-64</option>
          <option value="65">65-79</option>
        </select>
      
        <p>Province:</p>
        <select name="province">
          <option value=""></option>
          <option value="2">Alberta</option>
          <option value="1">British Columbia</option>
          <option value="4">Manitoba</option>
          <option value="7">New Brunswick</option>
          <option value="10">Newfoundland and Labrador</option>
          <option value="8">Nova Scotia</option>
          <option value="12">Northwest Territories</option>
          <option value="13">Nunavut</option>
          <option value="5">Ontario</option>
          <option value="9">Prince Edward Island</option>
          <option value="6">Quebec</option>
          <option value="3">Saskatchewan</option>
          <option value="11">Yukon</option>
        </select>
      
        <br><br>
        <input type="submit" value="Next">
      </form>
      

</body>
</html>